.select-list{ /* Prevent select-box from growing too large. */
    max-width: 320px;
}

.comments{
    max-width: 550px;
}

.comment-label{
    font-weight: normal;
}

.button-label{
    padding-left: 14px;
    padding-right: 0px;
}

.button{
    padding: 0;
    margin: 0;
}