#plane-wrapper {
    vertical-align: top;
}

.plane {
    position: relative;
    background-color: lightgray;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    margin: 0;
    overflow: hidden;
}

.plane-vertical-line {
    position: absolute;
    background-color: #797979;
    left: 50%;
    width: 2px;
    height: 100%;
    pointer-events: none;
}

.plane-horizontal-line {
    position: absolute;
    background-color: #797979;
    pointer-events: none;
    top: 50%;
    width: 100%;
    height: 2px;
    margin: 0;
}

.plane-row {
    height: 0;
    padding-bottom: 38%;
}

.percent-label {
    text-align: center;
}

.hint-large {
    text-align: center;
    position: absolute;
    font-style: oblique;
    font-size: 18px;
    color: black;
    top: 44%;
    left: 28.5%;
    width: 40%;
    pointer-events: none;
    z-index: 1000;
}

.hint-small {
    text-align: center;
    position: absolute;
    font-style: oblique;
    font-size: 18px;
    color: black;
    top: 30%;
    left: 29%;
    width: 40%;
    pointer-events: none;
    z-index: 1000;
}

.inner-side-label-left {
    position: absolute;
    top: 62%;
    left: 100%;
}

.inner-side-label-right {
    position: absolute;
    top: 62%;
    left: 0;
    z-index: -1000; /* Bring to background */
}

.side-label {
}

.rotate-text-left {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);

}

.rotate-text-right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.vertical-label {
    text-align: center;
}

.plane-label {
    pointer-events: none;
    font-family: Nevis;
    font-size: 24px;
    height: 34.28px; /* Set the height to prevent pop-in effects */
    margin: 0;
}

@font-face {
    font-family: Nevis;
    src: url(nevis.ttf);
}

#label-wrapper {
    width: 100%;
    display: inline-block;
}

#label-select {
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.selection-image {
    position:absolute;
    pointer-events: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}