#plane-wrapper {
    vertical-align: top;
    display: inline-block;
    width: 900px;
    height: 600px;
}

.plane {
    background-color:lightgray;
    width:100%;
    height:100%;
    margin: 0;
}

.plane-row {
    height: 500px;
}

#percent-label{
    text-align: center;
}

.inner-side-label-left{
    position: absolute;
    top: 50%;
    left: 50%;
}

.inner-side-label-right{
    position: absolute;
    top: 50%;
    left: 50%;
}

.side-label{
    display: inline-block;
    line-height: 480px;
}

.outer-side-label-left{
    position: relative;
    display: inline-block;
    width: 8.33%;
    left: 35px;
}

.outer-side-label-right{
    position: relative;
    display: inline-block;
    width: 8.33%;
    left: -35px;
}

.rotate-text-left{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

.rotate-text-right{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform:  translateX(-50%) translateY(-50%) rotate(90deg);
}

.vertical-label{
    text-align: center;
}

.plane-label{
    font-family: Nevis;
    font-size: 24px;
    margin:0;
}

@font-face{
    font-family: Nevis;
    src: url(nevis.ttf);
}

#label-wrapper{
    width:800px;
    display: inline-block;
}

#label-select{
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

.clear {
    clear: both;
}