.top-buffer {
    margin: 0;
    padding: 0;
}

.text-buffer {
    padding-top: 15px;
}

.feature-id {
    text-align: center;
    height: 20px;
}

.min-label {
    direction: rtl;
    text-align: right;
    padding-right: 0;
}

.slider-row {
    height: 70px;
}

.max-label {
    padding-left: 0;
    text-align: left;
}