<form id="label-select" role="form">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="sel1">Label 1</label>
            <select class="form-control" id="sel1" ng-model="firstSelect" ng-init= "firstSelect = firstSelect || 0">
                <option ng-repeat="label in labels" value="{{$index}}">{{label.id}}</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="sel2">Label 2</label>
            <select class="form-control" id="sel2" ng-model="secondSelect" ng-init="secondSelect= secondSelect || 1">
                <option ng-repeat="label in labels" value="{{$index}}">{{label.id}}</option>
            </select>
        </div>
    </div>
</form>


<div id="planewrapper">
    {{labels[firstSelect].label2}}: {{xpercent}}%, {{labels[secondSelect].label2}}:{{ypercent}}%
    <div class="plane-row">
      <div class="cell cell1">
        <p class="plane-label">{{labels[firstSelect].label1}}</p>
      </div>
      <div class="cell cell2"></div>
      <div class="cell cell3">
        <p class="plane-label">{{labels[secondSelect].label1}}</p>
      </div>
    </div>
      <div class="plane" ng-click='planeClick($event)'></div>
    <div class="plane-row">
      <div class="cell cell6">
        <p class="plane-label">{{labels[secondSelect].label2}}</p>
      </div>
      <div class="cell cell7"></div>
      <div class="cell cell8">
        <p class="plane-label">{{labels[firstSelect].label2}}</p>
      </div>
    </div>
  <div class="clear"></div>
</div>

<img ng-if=imgleft id="image" src="img/marker.gif"  ng-style="{position:'absolute', left: imgleft, top: imgtop, width: imgwidth, height: imgheight}" />