<div id="plane-wrapper row">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 vertical-label">
      <p class="plane-label">{{secondSelect.high}}</p>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <div class="row">
    <div class="col-xs-2 side-label plane-row">
      <p class="plane-label inner-side-label-left rotate-text-left">{{firstSelect.low}}</p>
    </div>
    <div class="col-xs-8">
      <div ng-if="!imgleft" class="hint-large hidden-xs "> Click anywhere inside the plane to begin</div> <!--Hide this after user clicks-->
      <div ng-if="!imgleft" class="hint-small visible-xs "> Click inside the plane</div> <!--Hide this after user clicks-->
      <div class="plane" ng-click='planeClick($event)'></div>
    </div>
    <div class="col-xs-2 side-label plane-row">
      <p class="plane-label inner-side-label-right rotate-text-right">{{firstSelect.high}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 vertical-label">
      <p class="plane-label">{{secondSelect.low}}</p>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>

<div id="label-wrapper row">
  <form id="label-select" role="form">
    <div class="row">
      <div class="form-group col-xs-6">
        <label for="sel1">X-axis</label>
        <select class="form-control" id="sel1" ng-model="firstSelect" ng-options="feature.id for feature in features"></select>
      </div>
      <div class="form-group col-xs-6">
        <label for="sel2">Y-axis</label>
        <select class="form-control" id="sel2" ng-model="secondSelect"
                ng-options="feature.id for feature in features">
        </select>
      </div>
      <div class="form-group col-xs-12">
        <label>Selection size</label>
        <rzslider rz-slider-hide-limit-labels="true"
                  rz-slider-floor="5"
                  rz-slider-model="feature_variance"
                  rz-slider-ceil="25"
                  rz-slider-on-end="varianceChanged()">
        </rzslider>
      </div>
    </div>
  </form>
</div>

<p ng-if="imgleft" class="percent-label"> {{firstSelect.id}}: {{x_min_value}}-{{x_max_value}}%,
  {{secondSelect.id}}:{{y_min_value}}-{{y_max_value}}% </p>

<img ng-if=imgleft id="selection-image" src="/img/marker.png"
     ng-style="{left: imgleft, top: imgtop, width: imgwidth, height: imgheight}"/>