<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

  <title>Music Browser</title>
  <meta name="description" content="Music discovery using perceptual features">
  <meta name="keywords" content="perceptual features, music discovery, music">

  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.css">
  <link rel="stylesheet" href="bower_components/angular-rangeslider/angular.rangeSlider.css">
  <link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css">
  <link rel="stylesheet" type="text/css" href="css/plane.css">
  <link rel="stylesheet" type="text/css" href="css/emotions.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <link rel="stylesheet" type="text/css" href="css/sliders.css">
  <link rel="stylesheet" type="text/css" href="css/feedback.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<ul class="menu">
  <sound-manager></sound-manager> <!-- Init sound-manager -->
</ul>

<!-- Fixed navbar on the top -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container" ng-controller="IndexController">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home" ng-click="setSelected('#home')">Music browser</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- Generate sections on the left side of navbar -->
        <li ng-repeat="section in sections" ng-class="{active : isSelected(section)}" ng-cloak>
          <a ng-click="setSelected(section)" ng-href="{{section.link}}">{{section.id}}</a>
        </li>
      </ul>
      <!-- Generate sections on the right side of navbar -->
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="section in helpSections" ng-class="{active : isSelected(section)}" ng-cloak>
          <a ng-click="setSelected(section)" ng-href="{{section.link}}">{{section.id}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- content -->
<div class="container" ng-controller="PlayerController">
  <div class="row">
    <!-- Playlist on the left -->
    <div class="hidden-xs col-sm-2">
      <div id="playlist" ng-cloak>
        <div id="list-group">
          <div class="list-group-item playlist-item playlist-template"><b style="font-size:15px">Playlist</b></div>
          <!-- Display empty element when no playlist -->
          <div ng-if="playlist.length === 0" class="list-group-item playlist-item playlist-template">Empty</div>
          <!-- Generate playlist items from playlist -->
          <a ng-repeat="song in playlist" class="list-group-item playlist-item clickable"
             ng-class="{active: currentPlaying.id == song.id}" ng-animate="{enter: 'playlist-fade-enter'}"
             play-from-playlist="song">
            <div class="row">
              <div class="col-md-9 col-sm-8 playlist-item-title" title="Play song">
                {{ song.title }}
              </div>
              <div class="col-md-3 col-sm-4">
                <div class="glyphicon glyphicon-remove clickable playlist-item-remove"
                     ng-click="$event.stopPropagation(); songRemoved($index, song)" remove-from-playlist="song"
                     title="Remove from playlist"
                     data-index="{{$index}}"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="content col-sm-8 col-xs-12" ng-view></div>
    <div class="hidden-xs col-sm-2"></div>
  </div>
</div>


<!-- Player footer -->
<footer class="navbar-fixed-bottom player-footer" ng-controller="PlayerController" ng-cloak>
  <div class="container">
    <div class="row">

      <!-- Buttons on the left side -->
      <div class="col-xs-7 col-sm-3 col-lg-2">
        <div class="btn-group navbar-btn left-buttons navbar-right" role="group" aria-label="Left Align">
          <button type="button" class="btn btn-default" prev-track title="Previous track">
            <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
          </button>

          <button type="button" class="btn btn-default" play-pause-toggle title="Toggle play/pause">
            <span ng-if="playlist.length === 0 || !isPlaying" class="glyphicon glyphicon-play" aria-hidden="true"></span>
            <span ng-if="playlist.length !== 0 && isPlaying" class="glyphicon glyphicon-pause" aria-hidden="true"></span>
          </button>

          <button type="button" class="btn btn-default" next-track title="Next track">
            <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
          </button>

          <button type="button" class="btn btn-default " ng-class="{active: autoPlay}" ng-click="toggleAutoPlay()"
                  title="Toggle autoplay">
            <span>Auto</span>
          </button>
        </div>
      </div>

      <!-- Song track bar -->
      <div class="col-xs-5 col-sm-6 col-lg-8">
        <div class="row">
          <p class="text-center" ng-show="playlist.length === 0">No tracks in playlist</p>
          <p class="artist-title-text hidden-xs" ng-if="playlist.length !== 0 && currentPlaying.title && currentPlaying.artist">
            {{ currentPlaying.title }} by {{ currentPlaying.artist }}
          </p>
          <p class="title-text hidden-xs" ng-if="playlist.length !== 0 && !(currentPlaying.title && currentPlaying.artist)">
            {{ currentPlaying.id}}
          </p>
          <p class="visible-xs col-xs-12" ng-if="playlist.length !== 0 && currentPlaying.id">
            {{currentPlaying.id}} - {{currentPostion}}/{{currentDuration}}
          </p>
        </div>
        <div class="row">
          <div class="hidden-xs col-sm-3 col-lg-1 cur-duration">
            <p>{{ currentPostion }}</p>
          </div>
          <div class="col-xs-12 col-sm-7 col-lg-10 ">
            <div class="progress seeking clickable" title="Seek to here" seek-track
                 style="margin: 0;">
              <div class="progress-bar" role="progressbar" aria-valuenow="0"
                   aria-valuemin="0" aria-valuemax="100" ng-style="{width: (progress+'%')}">
              </div>
            </div>
          </div>
          <div class="hidden-xs col-sm-2 col-lg-1 max-duration">
            <p>{{ currentDuration }}</p>
          </div>
        </div>
      </div>

      <!-- Volume-bar on the right side (hidden for small viewports) -->
      <div class="hidden-xs">
        <div class="col-sm-2 col-lg-2">
          <div class="volume-bar">
            <span ng-if="volume != 0" class="glyphicon clickable glyphicon-volume-down vol-down-icon"
                  ng-click="toggleMute()" title="Mute volume"></span>
            <span ng-if="volume === 0" class="glyphicon clickable glyphicon-volume-off vol-down-icon"
                  ng-click="toggleMute()" title="Unmute volume"></span>
          </div>
          <div class="volume-bar">
            <input id="volume-slider" class="volume-bar" type="text" data-slider-step="1" style="width: 80px ">
          </div>
          <div class="volume-bar">
            <span class="glyphicon glyphicon-volume-up vol-up-icon"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>
<script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/angular-bootstrap-slider/slider.js"></script>
<script src="bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>

<script src="js/angular-soundmanager2.min.js"></script>
<script src="js/app.js"></script>
<script src="js/indexController.js"></script>
<script src="js/resourcesService.js"></script>
<script src="js/songRequestService.js"></script>
<script src="js/sessionService.js"></script>
<script src="js/feedbackSubmitService.js"></script>
<script src="player/player.js"></script>
<script src="player/player_service.js"></script>
<script src="info/info.js"></script>
<script src="plane/plane.js"></script>
<script src="plane/plane_service.js"></script>
<script src="emotions/emotions.js"></script>
<script src="emotions/emotions_service.js"></script>
<script src="sliders/sliders.js"></script>
<script src="sliders/sliders_service.js"></script>
<script src="home/home.js"></script>
<script src="feedback/feedback.js"></script>
<script src="feedback/feedback_service.js"></script>
<script src="playlist/playlist.js"></script>

<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
