<div id="row">
  <div class="row">
    <div class="col-xs-4 vertical-label">
      <p class="plane-label">{{topleft.emotion}}</p>
    </div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4 vertical-label">
      <p class="plane-label">{{topright.emotion}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
      <div class="plane" ng-click='planeClick($event)'>
        <div class="plane-vertical-line"></div>
        <div class="plane-horizontal-line"></div>
        <img ng-if="imgleft" class="selection-image" src="/img/marker.png"
             ng-style="{left: imgleft-leftPlaneOffset, top: imgtop-topPlaneOffset, width: imgwidth, height: imgheight}">
        </img>
      </div>
    </div>
    <div class="col-xs-2 ">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 vertical-label">
      <p class="plane-label">{{bottomleft.emotion}}</p>
    </div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4 vertical-label">
      <p class="plane-label">{{bottomright.emotion}}</p>
    </div>
  </div>
</div>

<div class="row">
  <h2 class="text-center" ng-if="feature_list">Perceptual feature ranges</h2>
  <div class="col-sm-6 col-xs-12" ng-repeat="cur in feature_list">
    <div class="row">
      <div class="col-xs-5 v-center text-right">
        <p class="perceptual-names"><b>{{cur.feature.id}}:</b></p>
      </div>
      <div class="col-sm-7 col-xs-7">
        <div range-slider attach-handle-values="true" show-values="true" disabled="true" min="0" max="100"
             model-min="cur.minvalue" model-max="cur.maxvalue"></div>
      </div>
    </div>
  </div>
</div>

<div ng-if="showError" class="alert alert-danger noSongsFoundError animate-if" role="alert" ng-style="{left: imgleft-60, top: imgtop+30}">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  No new songs found
</div>