<div id="row" ng-cloak>
  <div class="row">
    <div class="col-xs-4 vertical-label">
      <p class="plane-label">{{topLeft.emotion}}</p>
    </div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4 vertical-label">
      <p class="plane-label">{{topRight.emotion}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
      <!--Hide hint after user clicks-->
      <div ng-if="!imgLeft && pageLoaded" class="hint-large hidden-xs "> Click anywhere inside the plane to begin</div>
      <div ng-if="!imgLeft && pageLoaded" class="hint-small visible-xs "> Click inside the plane</div>

      <div class="plane clickable" ng-click='planeClick($event)'>
        <div class="plane-vertical-line"></div>
        <div class="plane-horizontal-line"></div>
        <img ng-if="imgLeft" class="selection-image" src="/img/cross-marker.png" ng-cloak
             ng-style="{left: imgLeft-leftPlaneOffset, top: imgTop-topPlaneOffset, width: imgWidth, height: imgHeight}">
      </div>
    </div>
    <div class="col-xs-2 ">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 vertical-label">
      <p class="plane-label">{{bottomLeft.emotion}}</p>
    </div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4 vertical-label">
      <p class="plane-label">{{bottomRight.emotion}}</p>
    </div>
  </div>
</div>

<div class="row">
  <h2 class="text-center" ng-if="featureList">Perceptual feature ranges</h2>
  <div class="col-sm-6 col-xs-12" ng-repeat="cur in featureList">
    <div class="row">
      <div class="col-xs-4 col-sm-5 col-lg-5 v-center text-right">
        <p class="perceptual-names"><b>{{cur.feature.id}}:</b></p>
      </div>
      <div class="col-xs-8 col-sm-7 col-lg-7">
        <div range-slider attach-handle-values="true" show-values="true" disabled="true" min="0" max="100"
             model-min="cur.minValue" model-max="cur.maxValue"></div>
      </div>
    </div>
  </div>
</div>

<div ng-if="showError" class="alert alert-danger noSongsFoundError animate-if" role="alert" ng-style="{left: imgLeft-60-leftPlaneOffset, top: imgTop+30-topPlaneOffset}" ng-cloak>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  No songs found
</div>